html,
body {
  height: 100%;
}

*{
  background-color: rgb(239, 232, 232);
  font-family:cursive;
  font-size: large;
  font-style: italic;
  font-display: initial;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: medium;
  /* justify-content: center;
  align-items: center; */
  background-color: rgb(254, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffffff;
}

#centerbutton {
  display: flex;
  margin-left: 150px;
  align-items: center;
  justify-content: center;
}

#ab{
  margin-bottom: 10px;
  padding: 8px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#process {
  margin-bottom: 10px;
  padding: 8px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#resource {
  margin-bottom: 10px;
  padding: 8px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#processbox {
  /* display: flex; */
  margin-left: 100px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

#resourcebox {
  /* display: flex; */
  margin-left: 100px;
  align-items: center;
  justify-content: center;
}

#asc{
  margin-left:110px;
}

#av{
  padding: 5px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#toAvailable{
  
  margin-left: 100px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;

}

input[type="text"] {
  border-radius: 2px;
  padding: 5px;
  border: 1px solid #ccc;
}

table {

  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-radius: 2px;
  border: 1px transparent;
  padding: 8px;
  text-align: center;
}

th {
  background-color: rgb(4, 4, 3);
  color: white;
}

h1 {
  font-size: 18px;
  color: #ff0000;
  margin-top: 20px;
}

h2 {
  font-size: 18px;
  color: #45a049;
  margin-top: 20px;
}

.design{
  background-color: blue;
  animation-name: example;
  animation-duration: 4s;
  animation-name: example;
  animation-iteration-count: infinite;
}
/* @Keyframes example{
  0%{background-color: rgb(117, 8, 220);}
  25%{background-color: #1be025;}
  50%{background-color: #14bee0;}
  75%{background-color: #dfc507;}
  100%{background-color: #d40d14;}
 
} */