*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: scroll;
    min-width: fit-content;
}

p {
    font-size: 12px;
    font-weight: bold;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 720px;
}

.container-grid {
    display: grid;
    width: fit-content;
    padding: 30px;
    grid-template-columns: 300px 300px 300px 150px;
    gap: 30px;
    text-align: center;
}

.flex-process {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.process {
    width: calc(100% / 3);
}

.error {
    color: red;
    margin: 20px auto 0;
    display: none;
}

input[type="text"] {
    width: 100%;
}

.add-button {
    margin: 30px 0px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px auto 20px;
}

.flex-max {
    display: flex;
    gap: 10px;
}

.flex-available {
    display: flex;
    gap: 10px;
}

.table {
    height: 300px;
    width: 100%;
    background-color:aliceblue;
    border: 1px solid black;
    margin: 0;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-spacing: 0;
}

th {
    width: calc(100% / 4);
    border: 1px solid black;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    width: calc(100% / 4);
    border: 1px solid black;
    margin: 0;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.self-sequence {
    width: 100%;
    height: 300px;
    border: 2px solid black;
    overflow-y: scroll;
}

.allocated-table{
    text-align: center;
}

.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    height: 300px;
}
