body {
    background-image: url("F:/SEM - 4/OS/Project/Sources/bg.png");
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
  }

.header{
    justify-content: center;
    display: flex;
}

.content{
    text-align: center;
}

.inpdiv{
    text-align: center;
}

.inp{
    width: 18%;     
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid  rgb(80, 80, 80);
    font-family:"Archivo";
    font-size:15px; 
    border-radius: 5px;
    text-align: center;           
}

.submitbtn{
    font-family:"Archivo";
    font-size:15px;
    line-height: 0.90;
    text-align: center;
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;
    background-color:  rgb(60, 60, 60);   
    width: 10%;  
    color: White;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none; 
    border-radius: 5px;      
}

.submitbtn:hover {   
    background-color:  rgb(30, 30, 30);   
}

.show{
    font-family:"Archivo";
    font-size:20px; 
    text-align: center; 
    color:  rgb(43, 43, 43);   
}